Repository panoptes/POCS, pull requests merged in 2019-02, with the labels that each got.

#776 Prevent filter wheel moving during a camera exposure
  pocs/camera/camera.py
  pocs/camera/fli.py
  pocs/camera/sbig.py
  pocs/camera/sbigudrv.py
  pocs/camera/simulator.py
  pocs/filterwheel/filterwheel.py
  pocs/tests/test_camera.py
  pocs/tests/test_filterwheel.py
Labels: Camera, Quick PR, filter wheel

#773 Handle the weather data when PanDB is used with type of `file`.
  scripts/plot_weather.py
Labels: Quick PR, Weather

#779 Add support for ZWO ASI cameras
  .codecov.yml
  pocs/camera/camera.py
  pocs/camera/fli.py
  pocs/camera/libasi.py
  pocs/camera/libfli.py
  pocs/camera/sbig.py
  pocs/camera/sbigudrv.py
  pocs/camera/simulator.py
  pocs/camera/zwo.py
  pocs/focuser/birger.py
  pocs/focuser/focuslynx.py
  pocs/tests/test_camera.py
  pocs/utils/__init__.py
  pocs/utils/error.py
  pocs/utils/images/fits.py
  pocs/utils/library.py
Labels: Camera, Enhancement

#780 Fixing missing custom error
  pocs/camera/zwo.py
Labels: Quick PR, bug

#781 Implement is_exposing property for ZWO
  pocs/camera/zwo.py
Labels: Camera, Quick PR

#782 Prevent camera exposures when filterwheel is moving
  pocs/camera/camera.py
  pocs/filterwheel/filterwheel.py
  pocs/filterwheel/sbig.py
  pocs/filterwheel/simulator.py
  pocs/tests/test_camera.py
  pocs/tests/test_filterwheel.py
Labels: Camera, Quick PR, filter wheel

#783 Simulator Camera creation no longer requires dummy camera config entries
  pocs/camera/__init__.py
  pocs/tests/test_camera.py
Labels: Camera, Quick PR, bug

#785 Add filterwheel to create_cameras_from_config
  pocs/camera/__init__.py
  pocs/tests/test_camera.py
Labels: Camera, Quick PR, filter wheel
