Repository panoptes/POCS, pull requests merged in 2019-03, with the labels that each got.

#787 Refactor Camera and Driver classes
  pocs/camera/camera.py
  pocs/camera/fli.py
  pocs/camera/libasi.py
  pocs/camera/libfli.py
  pocs/camera/sbig.py
  pocs/camera/sbigudrv.py
  pocs/camera/sdk.py
  pocs/camera/simulator.py
  pocs/camera/zwo.py
  pocs/tests/test_camera.py
Labels: Camera, Enhancement

#794 variable exp_time changed to exptime
  bin/pocs_shell
  examples/notebooks/SBIG camera control.ipynb
  pocs/camera/camera.py
  pocs/camera/canon_gphoto2.py
  pocs/camera/simulator.py
  pocs/scheduler/observation.py
  pocs/scheduler/scheduler.py
  pocs/state/states/default/observing.py
  pocs/state/states/default/pointing.py
  pocs/tests/bisque/test_run.py
  pocs/tests/test_base_scheduler.py
  pocs/tests/test_camera.py
  pocs/tests/test_dispatch_scheduler.py
  pocs/tests/test_observation.py
  pocs/tests/test_pocs.py
  pocs/utils/images/__init__.py
  resources/targets/simple.yaml
  resources/targets/simulator.yaml
Labels: GSoC

#797 Make simulated filterwheel move time tests more lenient
  pocs/tests/test_filterwheel.py
Labels: Quick PR, bug, filter wheel

#796 Fix SBIG filterwheel bugs introduced by #787
  pocs/camera/sbigudrv.py
  pocs/filterwheel/sbig.py
Labels: Quick PR, bug, filter wheel

#799 common_properties moved to BaseScheduler
  pocs/scheduler/dispatch.py
  pocs/scheduler/scheduler.py
Labels: GSoC
