Repository panoptes/POCS, pull requests merged in 2019-10, with the labels that each got.

#902 Fix scaling of ZWO camera pixel values
  pocs/camera/camera.py
  pocs/camera/zwo.py
  pocs/tests/test_camera.py
Labels: Camera, Quick PR, bug

#903 Fix bit depth FITS header bug
  pocs/camera/camera.py
Labels: Camera, Quick PR, bug

#904 Use real serial numbers for ZWO ASI cameras
  pocs/camera/camera.py
  pocs/camera/fli.py
  pocs/camera/libasi.py
  pocs/camera/sbig.py
  pocs/camera/sdk.py
  pocs/camera/zwo.py
  pocs/tests/test_camera.py
Labels: Camera, Enhancement

#906 ZWO camera serial number parsing
  pocs/camera/libasi.py
Labels: Camera, Quick PR, bug

#909 Make SDK camera simulator accessible
  pocs/camera/simulator_sdk/__init__.py
  pocs/camera/simulator_sdk/ccd.py
  pocs/tests/test_camera.py
Labels: Camera, Enhancement, Quick PR

#894 Mount updates - slew_to_target timeout
  pocs/mount/mount.py
  pocs/mount/simulator.py
  pocs/state/states/default/pointing.py
  pocs/state/states/default/slewing.py
  pocs/tests/test_mount_simulator.py
Labels: mount, v0.7.0 Milestone

#889 Mount Park Behavior Change
  pocs/mount/ioptron.py
  pocs/mount/mount.py
Labels: mount, v0.7.0 Milestone

#920 Finite readout time for simulated cameras
  pocs/camera/camera.py
  pocs/camera/simulator/dslr.py
  pocs/tests/test_camera.py
Labels: Camera, Enhancement, Quick PR

#921 Fix SDK Camera simulator initialisation
  pocs/camera/sdk.py
  pocs/camera/simulator_sdk/ccd.py
Labels: Camera, Quick PR, bug

#922 Allow override of initialisation of Focuser autofocus parameters
  pocs/focuser/focuser.py
Labels: Enhancement, Quick PR, focuser
